.login {
  height: 100%;
  width: 100%;

  @media (min-width: 769px) {
    background-color: var(--color-white-paper);
    height: 100vh;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("https://picsum.photos/id/137/400/300?grayscale");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
    width: 100%;

    @media (min-width: 769px) {
      max-width: 600px;
      border-radius: 13px 13px 0 0;
    }
  }

  &__title {
    font-size: 2rem;
    color: var(--color-white);
    text-align: center;
  }

  &__input-box {
    width: 100%;
    max-width: 350px;
    padding: 2rem 1rem 0;

    @media (min-width: 769px) {
      max-width: 600px;
      width: 100%;
      background-color: white;
      padding: 2rem;
      border-radius: 0 0 13px 13px;
    }
  }

  &__btn-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    .btn-big{
      width: 100%;
    }
  }

  &__notification{
    border: 1px solid var(--main-color-brick-red);
    border-radius: 3px;
    background-color: rgba(252, 237, 239, 0.4);
    font-size: 1.1rem;
    text-align: center;
    padding: 1rem 0.5rem;
  }
}