.event {
  padding: 0 1rem;

  &__container {
    margin: 1rem 0;
    padding: 1.5rem;
    box-shadow: 0 0 4px var(--secondary-color-brown-rgba);
    background-color: white;
    border-radius: 2px;

    display: flex;
    justify-content: space-between;
  }

  &__control {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.3rem;
  }

  &__info {
    text-align: left;
  }

  &__title {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }

  &__description {
    font-size: 1rem;
  }

  &__address {
    font-size: 1.15rem;
  }

  &__dt {
    padding: 0.5rem 0;
  }

  &__day-time {
    font-size: 1.25rem;
  }

}

.button-delete,
.button-edit {
  height: 50px;
  width: 50px;
  font-size: 3.5rem;
  text-align: center;
  background-color: white;
  cursor: pointer;
  border: none;
  outline: none;
}

.button-delete {
  margin-bottom: 1rem;
  color: var(--main-color-brick-red);
}

.button-edit {
  color: var(--secondary-color-choco-brown);
}

.button-delete:hover {
  font-size: 3rem;
  outline: none;
}

.button-edit:hover {
  font-size: 3rem;
  outline: none;
}