.event {
  padding: 0 1rem;

  &__container {
    margin: 1rem 0;
    padding: 1.5rem;
    box-shadow: 0 0 4px var(--secondary-color-brown-rgba);
    background-color: white;
    border-radius: 2px;

    position: relative;
  }

  &__title {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }

  &__description {
    font-size: 1rem;
  }

  &__address {
    font-size: 1.15rem;
  }

  &__dt {
    padding: 0.5rem 0;
  }

  &__day-time {
    font-size: 1.25rem;
  }

}

.button-delete {
  font-size: 3rem;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  color: var(--secondary-color-choco-brown);

  position: absolute;
  top: -5px;
  right: 5px;
}

.button-delete:hover {
  font-size: 3rem;
  outline: none;
}

.concerts-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 0 1.5rem;
}

.add-concert{
  font-size: 3.1rem;
  margin: 0 0.3rem;
  cursor: pointer;
  border: none;
  outline: none;
  color: var(--secondary-color-choco-brown);
}
