.event {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;


  &__container {
    margin: 0 0.5rem 0.7rem 0.5rem;
    padding: 1rem 0.2rem;
    border-bottom:  0.5px solid var(--main-color-brick-red);

    display: flex;
    flex-direction: column;
    flex-basis: 100%;

    @media (min-width: 769px) {
      flex-basis: calc(50% - 1rem);
    }
  }

  &__title {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }

  &__description {
    font-size: 1rem;
  }

  &__address {
    font-size: 1.15rem;
  }

  &__dt {
    padding: 0.5rem 0;
  }

  &__day-time {
    font-size: 1.25rem;
  }

  &__control {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }

  &__control-edit {
    margin-left: 1rem;
  }
}


.concerts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0.5rem 0.2rem 0.5rem;
  padding: 0.5rem 0.2rem;
}

