.button-group {
  margin: 1.5rem 0.5rem 0.5rem 0.5rem;
  display: flex;
  justify-content: center;
  align-self: center;
}

.create-concert-header {
  margin: 1rem auto;
  padding: 0.5rem 0.6rem 0.5rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
}

.concert-input{
  max-width: 500px;
  margin: 0 auto;
}