.navbar {
  overflow: hidden;
  height: 60px;
  box-shadow: 0 0 5px var(--secondary-color-choco-brown);

  &__menu-icon {
    height: 50px;
    width: 50px;
    padding: 0.7rem;
    margin: 0.3rem;
    cursor: pointer;
  }
}

.side-nav {
  width: 250px;
  transform: translate(-250px);

  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 80px;
  transition: 0.5s;
  z-index: 2;

  &--open {
    transform: translate(0);
  }


  &__link {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #ccc;
    display: block;
    transition: 0.3s;
  }

  &__link:hover {
    color: #fff;
  }

  &__btn-close {
    font-size: 40px;
    position: absolute;
    top: 10px;
    right: 22px;
    margin-left: 50px;
    color: #ccc;
  }

  &__btn-close:hover {
    color: #fff;
  }
}