.navbar {
  overflow: hidden;
  height: 60px;
  box-shadow: 0 0 5px var(--secondary-color-choco-brown);
  background-color: var(--main-color-brick-red);
  //background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu-icon {
    height: 50px;
    width: 50px;
    padding: 0.7rem;
    margin: 0.3rem;
    cursor: pointer;
    z-index: 10;
  }

  &__sm-icon {
    height: 45px;
    width: 45px;
    border-radius: 5px;
    margin: 0.8rem;
    z-index: 10;
  }
}

.side-nav {
  width: 250px;
  transform: translate(-250px);

  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 80px;
  transition: 0.5s;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &--open {
    transform: translate(0);
  }


  &__link {
    margin: 0.2rem 2rem;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    text-decoration: none;
    font-size: 1.25rem;
    color: #ccc;
    border-bottom: 1px solid var(--color-black);
    transition: 0.3s;
  }

  &__link:hover {
    color: #fff;
    border-bottom: 1px solid white;
  }

  &__btn-close {
    font-size: 40px;
    position: absolute;
    top: 10px;
    right: 22px;
    margin-left: 50px;
    color: #ccc;
  }

  &__btn-close:hover {
    color: #fff;
  }
}

.highlight {
  color: #fff;
  border-bottom: 1px solid white;
}