.page-wrapper{
  background-color: var(--color-white-paper);
}
.concerts-header{
  padding: 0.5rem 1.5rem;
}

.event {
  padding: 0 1rem;

  &__container {
    margin: 1rem 0;
    padding: 1.5rem;
    box-shadow: 0 0 4px var(--secondary-color-brown-rgba);
    background-color: white;
    border-radius: 2px;
  }

  &__title{
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__description{
    font-size: 1.2rem;
    padding: 0.5rem 0;
  }

  &__address{
    font-size: 1.25rem;
    font-weight: normal;
  }

}