* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --main-color-brick-red: #be1e2d;
    --color-brick-red-bnt-hover: #9F1924;
    --secondary-color-choco-brown: #451400;
    --secondary-color-brown-rgba: rgba(70, 21, 0, 0.5);
    --color-white: #f4f4f4;
    --color-crem-white: #E9E6DF;
    --color-white-paper: #F2F2F2;
    --color-black: #111;
    --color-light-grey: rgba(233, 230, 223, 0.4);
    --instagram-color: #bc2a8d;
    --youtube-color: #c4302b;
    --vk-color: #4c75a3;
    --link-color: #2466AE;
    --blue-color: #3b5998;
}

.main-title {
    font-size: 1.5rem;
    text-align: left;
}

.page-wrapper {
    margin: 0 auto;
    max-width: 900px;
}

.btn-big {
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 4px;
    width: 300px;
    border: 1px solid var(--main-color-brick-red);
    background-color: var(--main-color-brick-red);
    color: var(--color-white);
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}

.btn-big:hover {
    border: 1px solid var(--main-color-brick-red);
    background-color: var(--color-brick-red-bnt-hover);
    outline: none;
}

.btn-small {
    font-size: 1rem;
    padding: 0.3rem 0.5rem;
    width: 70px;
    background-color: white;
    color: var(--secondary-color-choco-brown);
    border: 1px solid var(--secondary-color-choco-brown);
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}

.btn-small:hover {
    background-color: var(--secondary-color-choco-brown);
    color: white;
    border: 1px solid var(--secondary-color-choco-brown);
}
.add-concert{
    text-align: center;
    border: 1px solid var(--main-color-brick-red);
    color: var(--main-color-brick-red);
    background-color: white;
    text-transform: uppercase;
}

.add-concert:hover{
    border: 1px solid var(--main-color-brick-red);
    color: white;
    background-color: var(--main-color-brick-red);
}
.main {
    transition: transform 0.5s;
    transform: translate(0);
}

.main--open {
    transform: translate(250px);
}

.overlay {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.85);
    transition: opacity 1s;
    z-index: 1;
}

.overlay.overlay--open {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.9;
}