* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}


:root {
  --main-color-brick-red: #AD2118;
  --color-brick-red-bnt-hover:#9F1924;
  --secondary-color-choco-brown: #451400;
  --secondary-color-brown-rgba: rgba(70, 21, 0, 0.5);
  --color-white: #f4f4f4;
  --color-crem-white: #E9E6DF;
  --color-white-paper: #F2F2F2;
  --color-black: #111;
  --color-light-grey: rgba(233, 230, 223, 0.4);
  --instagram-color: #bc2a8d;
  --vk-color: #4c75a3;
  --youtube-color: #c4302b;
  --link-color: #2466AE;
}